@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Special+Elite&display=swap');
@import url('burger-styles.css');
.face {
    max-width: 5em;
    float: left;
    padding-right: 1em;
    /* position: relative;
    top: 0%; */
}

body {
    position: absolute;
    /* overflow: scroll; */
}

:root {
    --height-factor: 1.5;
}

h1,
h2 {
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

h3,
h4,
h5,
h6,
b,
i,
nav {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

header {
    /* background-color: rgb(25, 112, 112); */
    background-color: #060301;
    background-image: url(images/Facebook-banner-cropped.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y: -2vw; */
    height: 19vw;
    /* color: antiquewhite; */
    color: rgb(244, 232, 102);
    margin: 0em;
    padding: 2em;
    /* position: absolute; */
    position: relative;
    text-shadow: rgba(62, 39, 12, 0.577) 3px 2px 3px;
}

header * {
    position: absolute;
    bottom: 1rem;
}

body {
    margin: 0em;
    background-color: rgb(23, 22, 20);
    color: wheat;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

* {
    scroll-behavior: smooth;
}

main {
    padding: 0em;
}

dl.with-pictures {
    /* display: grid; */
    /* grid-auto-flow: column dense; */
    /* grid-template-rows: repeat(); */
    /* grid-template-columns: 1fr auto; */
    gap: 1em;
}

dl.with-pictures * {
    margin-bottom: 1em;
    margin-left: 0em;
    display: block;
}

h2 {
    color: darkgoldenrod;
    clear: both;
}

b,
h3 {
    color: darkkhaki;
}

h4 {
    color: olivedrab;
}

nav {
    position: sticky;
    background-color: rgb(43, 40, 62);
    top: 0%;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
}

.flex-row {
    /* display: flex; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    /* flex-wrap: wrap; */
    display: grid;
}

.middle-bigger {
    grid-template-columns: 1fr 2.25fr 1fr;
}

.two-columns {
    grid-template-columns: 1fr .995fr;
}

.no-gap {
    gap: 0em;
}

.ticket-button {
    background-color: rgb(45, 167, 8) !important;
    font-style: italic;
    display: inline-block;
    padding: 0rem .5rem;
    margin: 0px !important;
    color: whitesmoke !important;
    text-decoration: none;
    list-style-type: none !important;
}

.ticket-button:hover,
.ticket-button:focus {
    background-color: tomato !important;
}

figcaption {
    padding-top: 1em;
}

ol li {
    /* display: inline-block; */
    /* padding: .5rem; */
    margin: 1rem 2rem;
    /* background-color: thistle; */
    /* color: darkslateblue; */
}

.featured {
    background-color: darkgoldenrod !important;
}

.featured:hover,
.featured:focus {
    background-color: sienna !important;
}

img {
    max-width: 100%;
}

nav ul li {
    flex-grow: 1;
    list-style-type: none;
    margin: 0px;
    /* width: 100%; */
    display: inline-block;
}

#main-nav li a {
    text-decoration: none;
    padding: .5em;
    margin: .5em;
    display: inline-block;
    color: antiquewhite;
    background-color: rgb(58, 45, 70);
    width: calc(100% - 1.5em);
    text-align: center;
}

section {
    background-color: rgb(24, 27, 33);
    padding: 1em;
    margin: 1em;
    clear: both;
}

dd {
    overflow: hidden;
}

#main-nav a:hover,
#main-nav a:focus {
    background-color: rgb(105, 87, 141);
}

article,
figure {
    background-color: rgba(245, 245, 220, 0.05);
    padding: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:link {
    color: lightskyblue;
}

a:visited {
    color: rgb(208, 177, 235);
}

a:hover,
a:focus {
    color: yellow;
}


/* .burger
/*,
.burger-lines

{
    width: 100%;
    display: flex;
    /* height: 3em;
} */

.word-menu {
    flex-grow: 1;
    font-size: 1.5em;
    margin-left: .5em;
    position: relative;
    top: .25em;
    color: whitesmoke;
}

.burger>.burger-lines {
    position: relative;
    width: 3em;
}

#countdown {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
    background-color: gold;
    color: rgb(57, 57, 57);
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    padding: 1rem;
}

#number-days {
    font-size: 10vw;
}

#countdown * {
    margin: 0%;
    padding: .5rem;
}

@media (min-width: 51em) and (max-resolution: 199dpi) {
    #main-nav {
        height: auto !important;
    }
    .hamburger {
        display: none;
    }
    nav ul li:last-child a {
        width: calc(100% - 2em);
    }
    section:target {
        padding-top: 3em;
    }
    .mobile-only {
        display: none;
    }
}

@media (max-width: 50em),
(min-resolution: 200dpi) {
    main {
        width: 100vw;
    }
    .mobile-only {
        display: block;
        /* width: 100%; */
        margin: 1rem;
        padding: 1rem;
    }
    .big {
        font-size: 3rem;
    }
    #main-nav {
        flex-direction: column;
        height: 0px;
        transition: height .5s;
    }
    #main-nav>* {
        width: 100%;
        margin: 0%;
        /* font-size: 2rem; */
    }
    #main-nav:nth-child(2) * {
        margin-top: 0px;
    }
    .hamburger {
        display: flex;
        width: 100%;
    }
    .flex-row {
        grid-template-columns: 1fr;
    }
    .no-gap {
        gap: 1em;
    }
    #countdown {
        position: static;
    }
}


/* @media (min-resolution: 200dpi) {
    .burger,
    #main-nav a {
        font-size: 2em;
    }
    header {
        font-size: 3em;
    } 
     :root {
        --height-factor: 3;
    }
} */