@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Special+Elite&display=swap');
@import url('burger-styles.css');
.face {
    max-width: 5em;
    float: left;
    padding-right: 1em;
    /* position: relative;
    top: 0%; */
}

h1,
h2 {
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

h3,
h4,
h5,
h6,
b,
i,
nav {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(19, 31, 31);
    /* background-image: url(images/Facebook-banner.jpg);
    background-size: 100vw;
    height: 15vw; */
    color: antiquewhite;
    margin: 0em;
    padding: 2em;
}

body {
    margin: 0em;
    background-color: rgb(23, 22, 20);
    color: wheat;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

* {
    scroll-behavior: smooth;
}

main {
    padding: 0em;
}

dl.with-pictures * {
    margin-bottom: 1em;
    margin-left: 0em;
    display: block;
}

h2 {
    color: darkgoldenrod;
    clear: both;
}

b,
h3 {
    color: darkkhaki;
}

h4 {
    color: olivedrab;
}

nav {
    position: sticky;
    background-color: rgb(43, 40, 62);
    top: 0%;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
}

.flex-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

figcaption {
    padding-top: 1em;
}

img {
    max-width: 100%;
}

nav ul li {
    flex-grow: 1;
    list-style-type: none;
    margin: 0px;
    /* width: 100%; */
    display: inline-block;
}

#main-nav li a {
    text-decoration: none;
    padding: .5em;
    margin: .5em;
    display: inline-block;
    color: antiquewhite;
    background-color: rgb(58, 45, 70);
    width: calc(100% - 1.5em);
    text-align: center;
}

section {
    background-color: rgb(24, 27, 33);
    padding: 1em;
    margin: 1em;
    clear: both;
}

dd {
    overflow: hidden;
}

section:target {
    padding-top: 3em;
}

#main-nav a:hover,
#main-nav a:focus {
    background-color: rgb(105, 87, 141);
}

article,
figure {
    background-color: rgba(245, 245, 220, 0.05);
    padding: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:link {
    color: lightskyblue;
}

a:visited {
    color: rgb(208, 177, 235);
}

a:hover,
a:focus {
    color: yellow;
}

.burger,
.burger-lines {
    width: 100%;
    /* height: 3em; */
}

@media (min-width: 51em) and (max-resolution: 199dpi) {
    #main-nav {
        height: auto !important;
    }
    .hamburger {
        display: none;
    }
    nav ul li:last-child a {
        width: calc(100% - 2em);
    }
}

@media (max-width: 50em),
(min-resolution: 200dpi) {
    #main-nav {
        flex-direction: column;
        height: 0px;
        transition: height .5s;
    }
    #main-nav>* {
        width: 100%;
        margin: 0%;
        /* font-size: 2rem; */
    }
    #main-nav:nth-child(2) * {
        margin-top: 0px;
    }
    .hamburger {
        display: block;
        width: 100%;
    }
    /* .flex-row {
        grid-template-columns: 1fr;
    } */
}

@media (min-resolution: 200dpi) {
    .burger,
    #main-nav a {
        font-size: 2em;
    }
}